<div class="all-products-page">

  <div class="page-header">
    <h1 style="font-weight: 700;    color: #007042;" >All Products</h1>
    <p style="width: 50%; text-align: center; color: rgb(0, 0, 0);" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eveniet minima rem eum, accusamus,
       amet quibusdam,velit necessitatibus officiis!</p>
  </div>

  <div class="main-content" >

    <div class="card-template" *ngFor="let product of products" >
  
      <div class="img">
        <img style=" z-index: 2; width: 280px; height: 300px; top: 40px;filter: drop-shadow(3px 3px 7px #000000)" [src]="'data:image/png;base64,' + product.productImage"alt="">
      </div>
      
      <div class="shadow"></div>
      <div class="details">
  
        <p class="productName"        >     {{product.productName}}     </p>
        <p class="productDescription" >     {{product.productDescription}}  </p>
        <p class="productPrice"       > Rs. {{product.productPrice}}        </p>
  
        <button class="buyBtn" >Buy</button>
  
        <div *ngIf="userRole =='ROLE_ADMIN'" class="optionIcons">
          <img class="icon" routerLink="/home/update-product/{{product.id}}" [src]=" 'assets/pencil.png' " alt="">
          <img class="icon" (click)="deleteProduct(product.id)" [src]=" 'assets/bin.png' " alt="">
        </div>
        
      </div>
    
    </div>
  
  </div>
  <div style="z-index: 2; width: 60px;height: 60px;position: fixed; bottom: 40px; right: 40px;">
    <a  *ngIf="userRole =='ROLE_ADMIN'" routerLink="/home/add-product">
        <img style="width: 100%; height: 100%;" [src]="'assets/add-btn.png'" alt="">
    </a>
  </div>
</div>
<app-footer></app-footer>