<div class="footer">

    <div class="footer-template"> 

        <div class="company-credit">
            <p style="position: relative; top: 25%;" >© 2024 Starbucks Coffee Company. All rights reserved.</p>
        </div>

        <div class="social-media">
            <img class=" facebook img " [src]=" 'assets/facebook.png' " alt="">
            <img class=" instagram img " [src]=" 'assets/instagram.png'" alt="">
            <img class=" twitter img " [src]=" 'assets/twitter.png'" alt="">
            <img class=" youtube img " [src]=" 'assets/youtube.png'" alt="">
        </div>
        
    </div>

</div>