<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<div class="home-page">

		<div class="landing-container">
			<div class="landing-container-content">
				<div class="landing-content">
					<div>
						<span style="font-size: 40px; font-weight: 600; color: #000000;" >Welcome to Starbucks:<br> <span style=" color: #007042;">Your Coffeehouse Destination</span></span><br>
						<p style="font-size: 20px; font-weight: 400; padding-top: 20px; width: 80%;">
							Explore our handcrafted beverages, delicious food options, and a welcoming atmosphere.
							Learn about our commitment to sustainability and find a store near you. Join Starbucks
							 Rewards for exclusive perks. Enjoy your coffeehouse experience with us.

						</p>
						<div style="padding-left: 100px; padding-top: 30px;">
							<button class="btn" routerLink="explore-us" >Explore Us</button>
						</div>
					</div>
				</div>
			</div>
			<div class="landing-container-img">
				<div class="img-container1">
					<div class="main-img">
						<img style=" filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0)); width: 100%; height: 100%; z-index: 1;" [src]=" 'assets/main-img.png' " alt="">
					</div>
					<div class="circle-1"></div>
					<div class="circle-2"></div>
				</div>
			</div>
		</div>

		<div class="main-container1">
			<div class="main-conatiner1-img">
				<div style="width: 320px; height: 450px">
					<img style="filter: drop-shadow(0 0 0.75rem rgb(162, 253, 135));width: 100%; height: 100%;"  [src]=" 'assets/pngwing.com (3).png' " alt="">
				</div>
			</div>
			<div class="main-conatiner1-content">
				<div class="content1">
					<div class="content1-header">
						<p style="font-size: 40px; font-weight: 600;" >World Best <br> <span style="color:  #007042;; position: relative;">Frappuccino?</span> </p>
					</div>
					<div class="content1-body">
						<p style="margin-top: 30px; font-size: 20px;">
							Starbucks is renowned for its frappuccinos, the best icy blended drinks.
							these creamy treats, ranging from coffee to fruity flavors, are a hit among
							customers. Enjoy a Starbucks frappuccino for a refreshing pick-me-up.
						</p>
						<div style="padding-left: 100px; padding-top: 10px;">
							<button class="btn" routerLink="products" >Buy Now</button>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="main-container2">
			<div class="main-container2-content">
				<div class="content2">
					<div class="content2-header" >
						<span style="font-size: 40px; font-weight: 600; color: #000000;" >Our <span style="color: #007042;">Drinks</span> items</span><br>
					</div>
					<div class="content2-icons">

						<div style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
							<img id="icon1" class="icon one" [src]=" 'assets/drink1.png' " alt="">
							<label class="icon-labels"  for="icon1">Hot Coffee</label>
						</div>

						<div style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
							<img id="icon2" class="icon two" [src]=" 'assets/drink2.png' " alt="">
							<label class="icon-labels"  for="icon2">Hot Tea</label>
						</div>

						<div style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
							<img id="icon3" class="icon three" [src]=" 'assets/drink3.png' " alt="">
							<label class="icon-labels"  for="icon3">Bottled Beverage</label>
						</div>

						<div style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
							<img id="icon4" class="icon four" [src]=" 'assets/drink4.png' " alt="">
							<label class="icon-labels"  for="icon4">Ice Coffee</label>
						</div>

						<div style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
							<img id="icon5" class="icon five" [src]=" 'assets/drink5.png' " alt="">
							<label class="icon-labels" for="icon5">Ice Tea</label>
						</div>

						<div style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
							<img id="icon6" class="icon six" [src]=" 'assets/drink6.png' " alt="">
							<label class="icon-labels"  for="icon6">Frappuccino</label>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="main-container3">
			<div class="main-container3-content">
				<div class="content3">
					<div style="display: flex;align-items: center;justify-content: center;flex-direction: column;" >
						<span style="font-size: 40px; font-weight: 600; color: #000000;" >Don't you know about <br> <span style="padding-left: 80px; color: #007042;">StarBucks?</span></span><br>
						<p style="text-align: center; font-size: 20px; font-weight: 400; margin-top: -30px; padding: 20px; width: 80%;">
							ipsum dolor sit amet consectetur adipisicing elit. Ex quia qui
							accusantium tempore error deserunt ratione reiciendis dicta eius esse
							dignissimos quas sequi quidem consectetur sit tempora, aut voluptatem earum.
						</p>
						<div >
							<button class="btn" routerLink="about-us" >About Us</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>
<app-footer></app-footer>
