<div class="page-404">
    <div>
        <img  style="width: 250px; height: 250px;" [src]=" 'assets/error-404.png' " alt="">
    </div>
    <div>
        <p style="font-size: 30px;margin-top: 20px;" > <span style="position: relative;left: 100px;font-weight: 700;"> Page not found! </span><br> Click here to back to home page</p>
    </div>
    <div>
       <button style="width: 150px; height: 50px; border-radius: 30px;border: none;color: white; background-color: #007042;"  routerLink=""> Back to home </button>
    </div>

</div>
